

.content {
    -fx-padding: 10px;
    -fx-background-image: url("background.png");
}

.hour {
    -fx-fill : #FFFFFF;
    -fx-font-family: 'Courier New', monospace;
    -fx-font-size: 31px;
    -fx-font-weight: 700;
    -fx-text-transform: uppercase;
}

.runways {
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-background-color: #9c9c9c;
    -fx-background-radius: 2px;
    -fx-max-width: 210;
}


.freeRunway {
    -fx-min-height: 65px;
    -fx-max-width: 195px;
    -fx-background-image: url("emptyRunway.png");
    -fx-background-size: 195;
}

.occupiedRunway {
    -fx-min-height: 65px;
    -fx-max-width: 195px;
    -fx-background-image: url("planeRunway.png");
    -fx-background-size: 195;
}

.frozenRunway {
    -fx-min-height: 65px;
    -fx-max-width: 195px;
    -fx-background-image: url("frozenRunway.png");
    -fx-background-size: 195;
}

.riotRunway {
    -fx-min-height: 65px;
    -fx-max-width: 195px;
    -fx-background-image: url("riotRunway.png");
    -fx-background-size: 195;
}

.protestRunway {
    -fx-min-height: 65px;
    -fx-max-width: 195px;
    -fx-background-image: url("protestRunway.png");
    -fx-background-size: 195;
}

.removedRunway {
    -fx-min-height: 65px;
    -fx-max-width: 195px;
    -fx-background-image: url("removedRunway.png");
    -fx-background-size: 195;
}

.runwayHour {
    -fx-fill : #FFFFFF;
    -fx-font-family: 'Courier New', monospace;
    -fx-font-size: 20px;
    -fx-font-weight: 700;
    -fx-text-transform: uppercase;
}

.screen {
    -fx-background-image: url("ecran.png");
    -fx-min-height: 500px;
    -fx-min-width: 700px;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 700;
}

.menu {
    -fx-background-image: url("pc.png");
    -fx-min-height: 300px;
    -fx-max-height: 500px;
    -fx-min-width: 600px;
    -fx-max-width: 600px;
    -fx-background-radius: 2px;
}

.requestMenu {
    -fx-padding: 100px;
    -fx-min-width: 600px;
    -fx-max-width: 600px;

}

.title {
    -fx-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: 'Courier New', monospace;
    -fx-font-size: 20;
}

.desc {
    -fx-fill: white;
    -fx-font-family: 'Courier New', monospace;
    -fx-font-size: 13;
}

.button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: 'Courier New', monospace;
    -fx-border-color: white;
}

.buttonImpossible {
    -fx-background-color: transparent;
    -fx-text-fill: grey;
    -fx-font-family: 'Courier New', monospace;
    -fx-border-color: grey;
}

.waitingLine {
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #16243e, #583940);
    -fx-background-radius: 2px;
    -fx-min-width: 250px;
}

.plane {
    -fx-background-color: #1b2f49;
    -fx-padding: 2px;
    -fx-background-radius: 2px;
}

